*{										/*reset*/
	margin: 0;
	padding: 0;
}

body{
	font-family: "Muli", sans-serif;
	background-color: #D2D2D2;
	color: #828282;
	font-size: 100%;
	/* flex: auto; */
}

section{
	display: flex;
	justify-content: space-evenly;
	height: 80%;
	align-items: center;
}

p{
	font-size: 0.9em;
}

.card {
	min-width: 15em;
	/* height: 100%; */
	background-color: #fff;
	margin: 1.2em;
	padding: 0.6em;
}

.card > div{
	text-align: center;
	display: block;
}

.item div {
	background-color: #eee;
	margin: 1em 0;
	padding: 0.6em;
	/* min-width: 12.6em; */
}

.item div:hover {
	background-color:cornflowerblue;
	color: #fff;
}

.item > a {
	/* min-width: 12.6em; */
	color: inherit;
	text-decoration: none;
	/* font-variant: small-caps; */
}

h3{
	font-family: "Merriweather Sans", sans-serif;
	color: coral;
}

span{
	color: coral;
	font-size: 0.84em;
}

p, h4, h3, h2, #img-profile{
	margin: 0.3em;
}

.container{
	width: 50%;
	margin: auto;
}

.text-center{
	text-align: center;
}

ul.list-inline{
	list-style: none;
}

.list-inline li, .text-center li{
	display: inline-block;
	margin: 1.2em 1.5em;
	border-bottom: 0.06em dashed #b2b2b2;
}

.list-inline a{
	color: #828282;
	text-decoration: none;
	font-size: 0.96em;
	font-weight: 500;
	font-variant: small-caps;
}

.img-circle{
	border-radius: 50%;
}

#img-profile{
	width:9.5em;
	padding:0.18em;
	border: 0.06em dashed #b2b2b2;
}

.fa{
	font-size: 2.2em;
	padding-bottom: 0.36em;
}

#facebook:hover{
	color: #3b5998;
}

#linkedin:hover{
	color: #0e76a8;
}

#twitter:hover{
	color: #00acee;
}

#github:hover{
	color: #333;
}

#movies tr, #movies td{
	padding: 0.3em;
}

#movies img{			/* eu queria colocar essa largura como '%' mas não */
	width: 8.4em;		/* consegui, e não queria usar 'px'. deu certo com */
}						/* 'em' mas não entendi o que aconteceu com a '%'  */

#movies h4{
	padding-bottom: 0.6em;
}
